*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;

}
/* global Css*/
.obj-width{
    max-width: 1200px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}
.navbar{
    background-color: rgb(71, 148, 117);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6) ;
}
.navbar .logo{
    text-decoration: 2rem;
    font-weight: 800;
    font-size: 2.1rem;
    
}
#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15x;
    color: dimgrey;
}
#search-btn{
    padding: 10px 20px;
    background-color: rgb(64, 93, 83);
    color: azure;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
  
}

#main-cls{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.bolck-card{
    width: 280px;
    border: 1px solid #2d4c50;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}
.bolck-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.bolck-card hover{
    box-shadow: 4px 4px 10px rgba(33, 154, 170, 0.763);
}
.bolck-card h2{
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
}
.bolck-card p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}
@media(max-width:500px){
    nav {
        padding: 0 20px;
        
    }
    .navbar.logo{
        font-size: 1.8rem;
    }
    #search-input{
        width: 150px;
        padding: 10px 10px;
       
    }
    .bolck-card {
        width: 100%;
       
    }
    }

